# User Testing Report

User testing was conducted by {Kelsey MacMillan} on {October.24th, 2013} between the times of {3:00pm} and {6:00pm} with the following participants:

- Sarah Voss
- John Doe
- Jordan Doe

## Tasks

1. Learn about the history of cats.
2. Learn what type of breed best fits your lifestyle.
3. Learn all about kitten care.

---

## Individual Results & Observations

### Sarah Voss
####Task 1:
- Found is very simple to find,
- easy to access in the tab bar.
- "About is typically where the history would be located"
####Task2:
- Once again easy to find
- The bucket really helped on the home page, with a link.
####Task3:
- Change the title of your "Kitten Care" to something like "Kitten Training" or "Adobting a Kitten" because it sounds more like it would go under the healthy cat tab.

### Caroline Guindon
####Task 1:
- Simple and easy to find.
- To the point and about tab bar is generally where you find history of any topic.
- For abouts page, shrink down the text so its not so long across the page. It will be easier to read(add a div class around it).
- Make smaller banner for each page.
####Task2:
- Easy to find again.
- To the point.
- Work on meduim responsiveness. Make sure its not mixed up.
####Task3:
- Harder to find. Thought it was in "Healthy Cats" tab bar. 
- Think about changing it to that tab bar.

### Jaimie Dean

####Task 1:
- Easy to find, straight forward and to the point. 
####Task2:
- Easy to find.
- Missing his favorite breed of cat though.
####Task3:
- Found the kitten care from scrolling through breeds. 
- Cound be a bit more clear, by changing the name.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- All participants found it hard to find the kitten care, they recommended putting it on the "healthy cat" page, or changing the name.
- Change the responsiveness in the medium screen so there is more flow.

### Serious, Causes Frustration, May Hinder Completion

- Finding the kitten care was definitely a big factor in frustration.
- Recommending changing the name or location of it.

### Minor, Annoying, Won’t Hinder Completion

- Fixing the medium resoonsiveness.