<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Paws and Claws</title>
	<link href="css/general.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	<meta name="handhelfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width;initial-scale=1">
	<meta name="description" content="Kitten and Cat care is right here for you! Well here is the perfect website for you to discover all the applicable needs to caring for a new kitten or cat.">

<meta property="og:type" content"article"> 
<meta property="og:title" content"History of Cats">
<meta property="og:url" content"http://https://github.com/kmacmillan15/kmacmillan15.github.io">
<meta property="og:image" content"http://http://en.wikipedia.org/wiki/Cat.com/img/image.jpg">

<meta property="og:description" content"Learn more about the history of Cats!">
<meta property="og:site_name" content"Paws and Claws">


<meta property="twitter:card" content"summary"> <!--og stands for open graph-->
<meta property="twitter:title" content"History of Cats">
<meta property="twitter:url" content"http:/https://github.com/kmacmillan15/kmacmillan15.github.io">
<meta property="twitter:image" content"http://en.wikipedia.org/wiki/Cat.com/img/image.jpg">

<meta property="twitter:description" content"Learn more about the history of Cats!">

</head>
<body>

	<ul class="skiplinks">
	<li><a href="#main">Skip to primary content</a></li>
	<li><a href="#navigation">Skip to main navigation</a></li>
	</ul>

	<header>
	
	<nav role="navigation" id="navigation">
		<div class="grid">
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="index.html" class="selected" rel="home">Home</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="about.html" class="selected">About Cats</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="perfectcat.html" class="selected">The&nbsp;Perfect&nbsp;Cat</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="healthycat.html" class="selected">Healthy Cats</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="feeding.html" class="selected">Feeding</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="tlc.html" class="selected">TLC</a>
			</div>
		</div>
	</nav>
	</header>

<main role="main" id="main">
{{content}}
</main>

<footer role="contentinfo">
<p>Kelsey MacMillan Designs <cite>Source: Wikipedia/Cats</cite> <cite>,Source: mykitten.ca</cite></p>
</footer>

</body>
</html>
