<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Paws and Claws</title>
	<link href="css/general.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	<meta name="handhelfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width;initial-scale=1">
</head>
<body>

	<header>
	
	<nav>
		<div class="grid">
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="index.html" class="selected">Home</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="about.html" class="selected">About Cats</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="index.html" class="selected">The&nbsp;Perfect&nbsp;Cat</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="index.html" class="selected">Healthy Cats</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="index.html" class="selected">Feeding Time</a>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1-6">
				<a href="index.html" class="selected">TLC</a>
			</div>
		</div>
	</nav>
				
		<img src="http://placehold.it/600x300" class="flex-img" alt="">
	</header>

{{content}}

</body>
</html>
